/*------------------------------------------------------------------
[Shoping Template Stylesheet]

Project:	Wine Store Html Responsive Template
Primary use:	Wine Store Html Responsive Template



/*---Shoping Page Style Here---*/

.wa-theme-design-block {
    float: left;
    width: calc(100% - 2px);
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
	overflow: hidden;
}
.shop-pages .wa-theme-design-block{
	margin-bottom: 15px;
	margin-top: 15px;
}
figure {
    float: left;
    position: relative;
}
.wa-theme-design-block figure:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-theme-design-block figure.dark-theme:before {
    background-color: #000;
}
figure img {
    width: 100%;
}
.ribbon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
	background-color: #d9932f;
}
.ribbon span {
    color: white;
    text-transform: capitalize;
    padding: 22px 0px;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 17px;
    font-weight: 600;
}
.ribbon:after {
    content: "";
    width: 0px;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
}
.ribbon:after {
    border-top: 4px solid #d9932f;
}
.block-sticker-tag1 {
    width: 50px;
    height: 50px;
    background-color: #313131;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    right: -51px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.off_tag {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
}
.block-sticker-tag1 strong {
    font-size: 18px;
    text-align: center;
    padding: 7px 0px 0px 15px;
    display: inline-block;
}
.block-sticker-tag2 {
    width: 50px;
    height: 50px;
    background-color: #383838;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: -51px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.off_tag1 {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
}
.block-sticker-tag2 strong {
    font-size: 18px;
    text-align: center;
    padding: 0px 0px 0px 16px;
    display: inline-block;
    margin-top: -2px;
}
.block-sticker-tag3 {
    width: 50px;
    height: 50px;
    background-color: #434343;
    position: absolute;
    top: 50%;
    margin-top: 25px;
    right: -51px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.off_tag2 {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
}
.block-sticker-tag3 strong {
    font-size: 18px;
    text-align: center;
    padding: 0px 0px 0px 16px;
    display: inline-block;
    margin-top: -2px;
}
.block-caption1 {
    width: 100%;
    display: inline-block;
    position: relative;
	text-align: center;
}
.block-caption1 h4 {
    font-size:1.4285714285714286em;
    font-weight: 400;
    margin-top: 10px;
    color: #ffffff;
}
.text_left {
    padding-left: 0px;
}
.price-text-color {
    font-size: 17px;
    line-height: 20px;
    color: #b5b5b5;
    font-weight: 400;
}
.review_right {
    padding: 0px;
}
.wv_rating {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 26px;
    text-align: right;
}
.wv_rating li {
    display: inline-block;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    line-height: 13px;
}
.wv_rating i.fa {
    margin-right: 0px;
}
.price {
    padding: 0px;
    margin-top: 6px;
	margin-bottom: 10px;
}
.sell-price {
    font-size:1.2em;
    font-weight: 700;
    margin-right: 10px;
    color: #d9932f;
}
.price .actual-price {
    color: #bababa;
    font-size:1.3em;
    text-decoration: line-through;
}
.wa-theme-design-block:hover {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-theme-design-block:hover figure:before {
    opacity: 0.4;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.wa-theme-design-block:hover figure .block-sticker-tag, .wa-theme-design-block:hover figure .block-sticker-tag1, .wa-theme-design-block:hover figure .block-sticker-tag2, .wa-theme-design-block:hover figure .block-sticker-tag3 {
    opacity: 1;
	right: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.block-sticker-tag1:hover strong, .block-sticker-tag2:hover strong, .block-sticker-tag3:hover strong{
	color: #d9932f;
}
	


.shop-pages .shorter {
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    width: 100%;
    text-transform: capitalize;
    color: #cccccc;
    padding: 20px 0;
}
.shop-pages .shorter span {
    vertical-align: middle;
}
.shop-pages .shorter span {
    vertical-align: middle;
}
.shop-pages .form-control {
    height: 53px;
    padding: 15px 20px;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #212121;
    border-radius: 0;
    box-shadow: none;
}
.shop-pages .form-control {
    border: none;
    width: auto;
    padding: 3px 10px;
    height: auto;
	float:right;
}
/*.shop-pages .btn {
    border: none;
    padding: 4px 0;
    text-transform: none;
}*/
.shop-pages .btn .filter-option {
    color: #3399cc;
}
.shop-pages .shorter span {
    vertical-align: middle;
}
.shop-pages .shorter span {
    vertical-align: middle;
}
.shop-pages .dropdown-menu.open {
    left: auto;
    right: 0;
    padding: 0;
    border: none;
    color: #222;
    border-radius: 0;
    overflow: visible !important;
    box-shadow: none;
}
.shop-pages .dropdown-menu.inner {
    top: 0;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 0;
}
.shop-pages .dropdown-menu.inner li:first-child {
    border-top: transparent solid 1px;
}
.shop-pages .dropdown-menu.inner li {
    border-top: transparent solid 1px;
    border-bottom: transparent solid 1px;
}
.shop-pages .dropdown-menu.inner span.glyphicon.check-mark {
    display: none;
}
.shop-pages .dropdown-menu.inner {
    top: 0;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 0;
}
.shop-pages .dropdown-menu.open {
    left: auto;
    right: 0;
    padding: 0;
    border: none;
    color: #222;
    border-radius: 0;
    overflow: visible !important;
    box-shadow: none;
}
.shop-pages .product-box {
    margin-top: 30px;
}
.shop-pages .border-lft {
    padding-bottom: 95px;
    border-left: 1px solid #212121;
}
.shop-sidebar .widget ul {
    padding-left: 0px;
}

.shop-pages .product-wrap{
	border-bottom:1px solid #212121;
	display:inline-block;
	vertical-align:middle;
	width:100%;
}

.shop-sidebar .widget-title{
	font-size:1.2857142857142858em;
	font-weight:600;
	text-transform:uppercase;
	position:relative;
	padding:5px 0;
	display:inline-block;
	width:100%;
}
.shop-sidebar .widget{
	margin-bottom:25px;
}
.shop-sidebar .widget li{
	border-bottom:1px solid #6d6d6d;
	padding:10px 0;
	text-transform:capitalize;
}
.shop-sidebar .widget li:last-child{
	border-bottom:none;
}
.shop-sidebar .widget.widget_size li{
	display:inline-block;
	padding:0;
	text-transform:uppercase;
	border:none;
}
.shop-sidebar .widget .ui-selectmenu-button{
	background:transparent!important;
	border-radius:0;
	color:#898989!important;
	vertical-align:middle;
	width:100%!important;
}
.shop-sidebar .widget .ui-selectmenu-button span.ui-selectmenu-text{
	padding-left:0;
}
.shop-sidebar .widget.widget_size li a{
	border:1px solid #212121;
	display:inline-block;
	height:35px;line-height:32px;
	margin-bottom:10px;
	margin-right:10px;
	text-align:center;
	width:35px;
}
.shop-sidebar .widget.widget_size li a:hover,.shop-sidebar .widget.widget_size li a:focus{
	border-color:#333;
}
.shop-sidebar .widget-title:after{
	background:#d9932f;
	height:1px;
	width:25px;
	position:absolute;
	bottom:0;
	left:0;
	content:"";
}
.shop-sidebar .widget li a{
	color:#cccccc;
}
.shop-sidebar .widget li a:hover{
	color:#d9932f;
	text-decoration: none;
    padding-left: 5px;
}
.shop-sidebar .widget.widget_size li a:hover {
    color: #fff;
	background-color:#d9932f;
    text-decoration: none;
    padding-left: 0px;
}
.shop-pages .widget-content #slider-range{
	background-color:#212121;
	background-image:none;
	border-color:#212121
	;border-radius:0;
	height:6px;
	margin:15px 0;
}
.shop-pages .widget-content #amount{
	background:transparent;
	border:none;
}
.shop-pages #slider-range .ui-widget-header{
	background-image:none;
	background-color:#333;
	border-radius:0;
}
.shop-pages #slider-range .ui-slider-handle{
	background-color:#333!important;
	background-image:none;
	border:2px solid #333!important;
	border-radius:0;
	height:16px;
	margin:0;
	top:-6px;
}
.shop-pages .widget.widget_size .filter-btn{
	border:2px solid #4e4e4e;
	color:#898989;
	font-size:10px;
	font-weight:700;
	padding:10px 20px;
	float:right;
}
.shop-pages .shop-links-widget .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0 !important;    
	background-color: transparent;
}
.shop-pages .shop-links-widget .panel-heading{
	background: none;
	border: none;
	border-radius: 0;
	padding-left: 0;
	padding-bottom: 0;
}
.shop-pages .shop-links-widget .panel-title{
	padding: 0px 0 5px;
	text-transform: capitalize;
	border-bottom: 1px solid #4e4e4e;
}
.shop-pages .shop-links-widget .panel-title a{
	font-size: 13px;
	font-weight: 400;
	color: #cccccc;
	display: block;
	width: 100%;
	position: relative;
	padding: 0px 0px 10px;
}
.shop-pages .shop-links-widget .panel-title a:hover {
    text-decoration: none;
    color: #d9932f;
}
.shop-pages .shop-links-widget .panel-collapse{
	background-color: #4e4e4e;
}
.shop-pages .shop-links-widget .panel-body{
	border-top: none !important; 
	padding-top: 0 !important; 
	padding-bottom: 0 !important;
}
.shop-pages .shop-links-widget a .caret{
	position: absolute;
	right: 0;
	top: 10px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.shop-pages .shop-links-widget a[aria-expanded="true"] .caret{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.shop-pages .shop-links-widget a[aria-expanded="false"] .caret{
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
@media (max-width : 767px) {

.shop-pages .product-box{
	display:table;
	margin:30px auto auto;
}
}
.shop-sidebar .btn-group{
	width: 100%;
}
.shop-sidebar .btn-group.btn {
	color: #898989;
	width: 100%;
}
.shop-sidebar .btn .filter-option {
	color: #898989;
}
.shop-sidebar .btn .filter-option:hover {
	color: #3399cc;
}
.shop-sidebar .btn-group.btn .filter-option {
	float: left;
}
.shop-sidebar .btn-group.btn .caret {
	position: absolute;
	top: 13px;right: 0;
}
.shop-sidebar .dropdown-menu.open,.shop-sidebar .dropdown-menu.open ul {
	width: 100%;
}
.shop-sidebar .dropdown-menu.open ul li {
	padding: 0px;
}
/*product pagination*/
.pagination-wrap ul li{
	display:inline-block;
	margin:5px;
}
.pagination-wrap ul{
	margin:25px 0 0;
}
.pagination-wrap li a{
	border:1px solid transparent;
	color:#cccccc;
	display:inline-block;
	height:35px;
	line-height:32px;
	width:35px;
	text-align:center;
}
.pagination-wrap li a:hover,.pagination-wrap li a:focus{
	border-color:#ccc;
	background-color: #d9932f;
    color: #fff;
    text-decoration: none;
}
.pagination-wrap li.disabled a{
	border-color:#ccc;
	color:#ccc;
}
.pagination-wrap li.active a{
	border-color:#ccc;
	background-color: #d9932f;
    color: #fff;
    text-decoration: none;
}
.pagination-wrap li.next a{
	border-color:#333;
}
/*product pagination*/



.shop-pages .product-title {
    clear: both;
    display: inline-block;
    width: 100%;
}
.shop-pages .product-title p {
    margin-bottom:10px;
}
.shop-pages .product-title > h2 {
    float: left;
	margin-top:0px;
}
.shop-pages .product-title .pagination-next-prev {
    float: right;
    margin-top: -15px;
}
.shop-pages .pagination-next-prev {
    border: 1px solid #333;
    border-radius: 3em;
    color: #333;
    display: inline-block;
    height: 35px;
    line-height: 32px;
    text-align: center;
    width: 35px;
}
.shop-pages .product-price-review {
    border-bottom: 1px solid #212121;
    border-top: 1px solid #212121;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    margin: 15px 0;
}
.shop-pages .product-price-review .font-semibold {
    display: inline-block;
    font-size:1.2857142857142858em;
    margin-right: 15px;
    vertical-align: middle;
}
.shop-pages .black-color {
    color: #313131;
}
.shop-pages .product-price-review .rating {
    display: inline-block;
    vertical-align: middle;
}
.shop-pages .rating span.star.active::before, .rating.add-rating span.star:hover::before, .rating span.star:hover span.star::before {
    color: #eabe12;
    content: "\f005";
    font-family: FontAwesome;
}
.shop-pages .rating span.star::before {
    color: #eabe12;
    content: "\f006";
    font-family: FontAwesome;
}
.shop-pages .rating span.text {
    padding: 0 5px;
}
.shop-pages .product-description > p {
    line-height: 2;
}
.shop-pages .qty-add-wish-btn {
    margin: 35px 0;
}
.shop-pages .qty-add-wish-btn .quantity {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}
.shop-pages .quantity .qty {
    border: 2px solid #212121;
    float: left;
    font-weight: 700;
    height: 60px;
    text-align: center;
    width: 40px;    
	background-color: #212121;
}
.shop-pages .quantity .minus {
    border-width: 2px 2px 2px 0;
    height: 29px;
}
.shop-pages .quantity .minus, .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    display: table;
    font-size:1.2857142857142858em;
    font-weight: 700;
    border-style: solid;
    border-color: #212121;
    width: 30px;
    height: 30px;
}
.shop-pages .quantity .plus {
    border-width: 0 2px 2px 0;
}
.shop-pages .quantity .minus, .shop-pages .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    display: table;
    font-size:1.2857142857142858em;
    font-weight: 700;
    border-style: solid;
    border-color: #212121;
    width: 30px;
    height: 30px;
}

.shop-pages .social-media {
    border-bottom: 1px solid #212121;
    border-top: 1px solid #212121;
    display: inline-block;
    margin: 18px 0 0;
    padding: 25px 0;
    width: 100%;
}
.shop-pages .black-color {
    color: #d9932f;
}
.shop-pages .social-media .social-icons {
    display: inline-block;
    float: right;
    text-align: right;
    vertical-align: middle;
}
.shop-pages .social-icons li {
    display: inline-block;
    font-size:1.1428571428571428em;
    margin: 0 10px;
}
.shop-pages .social-icons li a {
    color: #dadada;
}


@media (min-width: 992px) and (max-width: 1024px) {
.qty-add-wish-btn .btn{margin-right:15px}
}
@media (max-width: 768px) {
.shop-pages .social-media{margin:18px 0 50px}
}
@media (max-width: 480px) {
.addinal-info li .black-color{width:30%}
.addinal-info span + span{display:inline-block;vertical-align:middle;width:67%}
.reviewer-info{display:inline-block;margin-left:14px;width:70%}
.qty-add-wish-btn > span{display:block;margin-bottom:15px}
.review-title .rating{float:none;margin-left:-5px}
}
@media (max-width: 380px) {
.add-review .btn{float:none;margin-top:25px}
}
/* Single Product Page Ends */




/*---Shopping Cart---*/

table.table.cart {
    border: 1px solid #212121;
}
.cart thead {
    background-color: #414141;
}
.cart thead tr th{
    text-transform:uppercase;
}
.cart thead tr th, .cart tbody tr td {
    padding: 20px;
	vertical-align: middle;    
	border-color: #212121;
}
.cart .qty-add-wish-btn {
    margin: 35px 0;
}
.cart .qty-add-wish-btn .quantity {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
}
.cart .quantity .qty {
    border: 2px solid #212121;
    float: left;
    font-weight: 700;
    height: 60px;
    text-align: center;
    width: 40px;    
	background-color: #414141;
}
.cart .quantity .minus {
    border-width: 2px 2px 2px 0;
    height: 29px;
}
.cart .quantity .minus, .cart .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    display: table;
    font-size:1.2857142857142858em;
    font-weight: 700;
    border-style: solid;
    border-color: #212121;
    width: 30px;
    height: 30px;
}
.cart .quantity .plus {
    border-width: 0 2px 2px 0;
}
.cart .quantity .minus, .cart .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    display: table;
    font-size:1.2857142857142858em;
    font-weight: 700;
    border-style: solid;
    border-color: #212121;
    width: 30px;
    height: 30px;
}
.cart tr td.cart-product-name a{
	color:#ccc;
}
.cart tr td.cart-product-name a:hover{
	text-decoration:none;
	color:#d9932f;
}
.dart-form-control {
    display: block;
    width: 100%;
    padding: 8px 14px;
    font-size: 1em;
    line-height: 1.42857143;
    color: #cccccc;
    background-color: #0a0c0b;
    background-image: none;
    border: 2px solid #212121;
    border-radius: 5px;
    margin-top: 10px;
	margin-bottom: 10px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    height: auto;
}

.cart thead tr.cart_totle th, .cart tbody tr.cart_totle td {
    padding: 15px;
    vertical-align: middle;
	border-color:#212121;
}
.cart tbody tr.cart_totle td:first-child{
    background-color: #414141;
}
.cart-product-remove a{
	color:red;
}
.cart_item.coupon-check {
    background-color: #414141;
    padding: 20px;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
.cart tbody tr td {
	padding: 10px;
}
.coupon-check .text-right{
	text-align:left;
}
.cart_item.coupon-check {
    padding: 0;
}
.cart_item.coupon-check .dart-form-control {
    margin-bottom: 0px;
}
.totle-cart{
	border:none;
}
}


/*---Checkout---*/

#rd_login_form form .form-group .required{
    color: red;
    font-weight: bold;
    border: 0;
}
.rd_guest_acc {
    margin-top: 43px!important;
	width:100%;
}

.payments-options ul li{
    line-height: 54px;
    text-align: left;
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

.payments-options ul li input {
    margin: 0 1em 0 0;
}
.cart.checkout thead tr th, .cart.checkout tbody tr td {
    padding: 10px;
    vertical-align: middle;
}
@media (max-width: 768px) {
.rd_guest_acc {
    margin-top: 15px !important;
    width: 100%;
}
}

.rd-stroke-btn {
    color: #333;
    background: #ffffff;
    border-style: solid;
    border-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
}
.border_2px {
    border-width: 2px;
}
.dart-btn-sm {
    font-size: 1.1428571428571428em;
    min-width: 170px;
    max-width: 100%;
    padding: 15px 20px;
    vertical-align: middle;
    max-height: 55px;
}
.rd-stroke-btn:hover, .rd-stroke-btn:focus {
    color: #fff;
    background: #d9932f;
	border-color: #d9932f;
}
.btn, .btn:hover {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.normal-btn:hover, .normal-btn:focus {
    color: #fff;
    background: #333333;
}
.normal-btn {
    color: #ffffff;
    background: #d9932f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
.rd-3d-btn.dart-btn-sm {
    max-height: 60px;
}
.rd-3d-btn {
    border-bottom: 5px solid rgba(0,0,0,.2);
}
.rd-3d-btn {
    color: #ffffff;
    background: #64b63e;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 5px;
    text-transform: uppercase;
}
.dart-btn-sm {
    font-size: 1.1428571428571428em;
    min-width: 170px;
    max-width: 100%;
    padding: 15px 20px;
    vertical-align: middle;
    max-height: 55px;
}
.rd-3d-btn:hover, .rd-3d-btn:focus {
    color: #fff;
    background: rgba(100, 182, 62, 0.8);
}