/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Wine Store Html Responsive Template
Primary use:	Wine Store Html Responsive Template
-------------------------------------------------------------------*/

@import url("default-template-style.css");
@import url("shop-style.css");
@import url("template-blog.css");
@import url("awesomenav.css");
@import url("awesomenav-style.css");
@import url("awesomenav-animate.css");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900|Montserrat:100,200,300,400,400i,500,600,700,800,900');

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. loader
3. Nav
4. Page Tilte
5. Shop Block
6. Super deal
7. Featured- product
8. Blog
9. newsletter
10. footer
11. Contact
12. Responsive Media Screen style

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Color codes]

# Black (text): #1b1b1b
# gold : #d9932f

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body :		'Lato', sans-serif;
Title and logo:		'Montserrat', sans-serif;

-------------------------------------------------------------------*/



/*---Body---*/

/*loader start */

.loader {
  background: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1200;
}

#awsload-pageloading:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#awsload-pageloading .awsload-wrap {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 25%;
  right: 25%;
}

#awsload-pageloading .awsload-divi {
  font-size: 97px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#awsload-pageloading .awsload-divi li {
  position: absolute;
  width: .2em;
  height: .2em;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

#awsload-pageloading .awsload-divi li:nth-child(1) {
  left: 50%;
  top: 0;
  margin: 0 0 0 -.1em;
  background: #e92971;
  transform-origin: 50% 250%;
  -o-transform-origin: 50% 250%;
  -ms-transform-origin: 50% 250%;
  -webkit-transform-origin: 50% 250%;
  -moz-transform-origin: 50% 250%;
  animation: awsload-rota 1.3s linear infinite, awsload-opa 4.22s ease-in-out infinite alternate;
  -o-animation: awsload-rota 1.3s linear infinite, awsload-opa 4.22s ease-in-out infinite alternate;
  -ms-animation: awsload-rota 1.3s linear infinite, awsload-opa 4.22s ease-in-out infinite alternate;
  -webkit-animation: awsload-rota 1.3s linear infinite, awsload-opa 4.22s ease-in-out infinite alternate;
  -moz-animation: awsload-rota 1.3s linear infinite, awsload-opa 4.22s ease-in-out infinite alternate;
}

#awsload-pageloading .awsload-divi li:nth-child(2) {
  top: 50%;
  right: 0;
  margin: -.1em 0 0 0;
  background: #292ee9;
  transform-origin: -150% 50%;
  -o-transform-origin: -150% 50%;
  -ms-transform-origin: -150% 50%;
  -webkit-transform-origin: -150% 50%;
  -moz-transform-origin: -150% 50%;
  animation: awsload-rota 2.14s linear infinite, awsload-opa 4.93s ease-in-out infinite alternate;
  -o-animation: awsload-rota 2.14s linear infinite, awsload-opa 4.93s ease-in-out infinite alternate;
  -ms-animation: awsload-rota 2.14s linear infinite, awsload-opa 4.93s ease-in-out infinite alternate;
  -webkit-animation: awsload-rota 2.14s linear infinite, awsload-opa 4.93s ease-in-out infinite alternate;
  -moz-animation: awsload-rota 2.14s linear infinite, awsload-opa 4.93s ease-in-out infinite alternate;
}

#awsload-pageloading .awsload-divi li:nth-child(3) {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -.1em;
  background: #29e9a3;
  transform-origin: 50% -150%;
  -o-transform-origin: 50% -150%;
  -ms-transform-origin: 50% -150%;
  -webkit-transform-origin: 50% -150%;
  -moz-transform-origin: 50% -150%;
  animation: awsload-rota 1.67s linear infinite, awsload-opa 5.89s ease-in-out infinite alternate;
  -o-animation: awsload-rota 1.67s linear infinite, awsload-opa 5.89s ease-in-out infinite alternate;
  -ms-animation: awsload-rota 1.67s linear infinite, awsload-opa 5.89s ease-in-out infinite alternate;
  -webkit-animation: awsload-rota 1.67s linear infinite, awsload-opa 5.89s ease-in-out infinite alternate;
  -moz-animation: awsload-rota 1.67s linear infinite, awsload-opa 5.89s ease-in-out infinite alternate;
}

#awsload-pageloading .awsload-divi li:nth-child(4) {
  top: 50%;
  left: 0;
  margin: -.1em 0 0 0;
  background: #e9be29;
  transform-origin: 250% 50%;
  -o-transform-origin: 250% 50%;
  -ms-transform-origin: 250% 50%;
  -webkit-transform-origin: 250% 50%;
  -moz-transform-origin: 250% 50%;
  animation: awsload-rota 1.98s linear infinite, awsload-opa 6.04s ease-in-out infinite alternate;
  -o-animation: awsload-rota 1.98s linear infinite, awsload-opa 6.04s ease-in-out infinite alternate;
  -ms-animation: awsload-rota 1.98s linear infinite, awsload-opa 6.04s ease-in-out infinite alternate;
  -webkit-animation: awsload-rota 1.98s linear infinite, awsload-opa 6.04s ease-in-out infinite alternate;
  -moz-animation: awsload-rota 1.98s linear infinite, awsload-opa 6.04s ease-in-out infinite alternate;
}

@keyframes awsload-rota {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-ms-keyframes awsload-rota {
  to {
    -ms-transform: rotate(360deg);
  }
}
@-webkit-keyframes awsload-rota {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes awsload-opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@-ms-keyframes awsload-opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@-webkit-keyframes awsload-opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}

/*loader End */


html,
	body {
	  height: 100%;
	  width: 100%;
	}
	
body {
	color:#c5c5c5;
  	font-family: 'Lato', sans-serif;
	background-color: #0a0c0b;
}

a {
	color: #d9932f;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.btn, .btn:hover {
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
a:hover,
a:focus {
	color: #d9932f;
	outline: none;
	outline-offset: 0px;
	text-decoration:none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color:#ffffff;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}
label {
    color: #ccc;
}
.gold{
	color:#d9932f;
}
.white{
	color: #fff;
}
.black{
	color:#1b1b1b;
}
.gray{
	color:#898989;
}
.bg-gold{
	background-color:#d9932f;
}
.light-gray{
	background-color:#f7f7f7;
}
section{
	padding:50px 0px;
}

/*--- Nav ---*/
nav{
	font-family: 'Montserrat', sans-serif;
}
@media (max-width: 991px) and (min-width: 768px){
.top-bar-nav .wrap-sticky nav.navbar.divinnav.sticked {
    top: 24px;
}
}
.navbar-default {
    background-color: #fff;
    border: none;
	margin-bottom: 0;
}
nav.navbar.awesomenav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
	border-bottom: none;
}
.attr-nav {
    right: 20px;
    display: inline-block;
    margin-left: 13px;
    margin-right: 15px;
    position: absolute;
	margin-top: 10px;
	font-size:0.8571428571428571em;
}
.attr-nav.left-side {
    right: auto;
	left: 20px;
	color: #ffffff;
}
.navbar-brand {
    padding: 0px;
    height: auto;
}
.nav-justified > li {
    float: none;
}
.border-menu{
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

/*---Promo banner---*/
.lineeffect {
	margin-bottom: 0;
}
.lineeffect a:hover:before, .lineeffect a:hover:after {
    opacity: 1;
    transform: scale(1);
}
.lineeffect a:before, .lineeffect a:after {
    bottom: 10px;
    content: "";
    left: 10px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    z-index: 1;
}
.lineeffect a:before, .lineeffect a:after {
    bottom: 10px;
    content: "";
    left: 10px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    z-index: 1;
}
.lineeffect a:before {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    transform: scale(0, 1);
}
.lineeffect a:after {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    transform: scale(1, 0);
}


/*---categorey-img---*/

.categorey-img img{
	display: block;
	margin-bottom: 15px;
}
.categorey-img .categorey-link{
	text-align: center;
}
.categorey-img .categorey-link A{
	display: inline-block;
}

/*---Page Tilte---*/


.page_title_ctn .row  .page-title{
    background-color: #d9932f;
	margin-top: 15px;    
	padding: 0px 15px;
}
.page_title_ctn h1, .page_title_ctn h2, .page_title_ctn h3, .breadcrumb, .breadcrumb a, .breadcrumb li.active {
    color: #ffffff;
}
.breadcrumb li.active span {
    text-decoration:underline;
}
.page_title_ctn h2, .page_title_ctn h3 {
    font-weight: 400;
	margin-top:10px;
    font-size: 24px;
    line-height: 34px;
    max-width: 420px;
    float: left;
}
.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
	background-color: transparent; 
	border-radius: 0px; 
    position: relative;
    margin-top: 15px;
    float: right;
    margin-bottom: 0;
	padding:0;
}
.breadcrumb > li + li:before {
    color: #fff;
}




/*---Shop Block---*/

.product-slide {
}
.product-slide .row{
	height: auto;
	margin: 0 auto;
}
.tabSix .nav-tabs{
	border-bottom:none;
}
.tabSix .nav-tabs>li>a{
	margin-right:0px;
	line-height:1.42857143;
	background-color:transparent;
	border-style:solid;
	border-color:#898989;
	color:#999;
	border-width:0px 0px 0px 0px;
	border-radius:0px;
	padding:10px 25px;
	font-weight:600;
}
.tabSix .nav-tabs>li.active>a, .tabSix .nav-tabs>li.active>a:focus, .tabSix .nav-tabs>li.active>a:hover, .tabSix .nav-tabs>li>a:hover{
	color:#d9932f;
	cursor:pointer;
	border-width:0px 0px 0px 0px;
	background-color: transparent;
}
.tabSix .nav-tabs li a p{
	margin-bottom:0;
	font-size:1em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.tabSix .nav-tabs li {
	display: inline-block;
	float: none;
}
@media (min-width: 768px) {
.tabSix .tab-content{
	margin-top:24px;
}
}
.sep-dot {
    font-size: 50px;
    line-height: 0;
    vertical-align: super;
	display: none;
}
.tabSix ul li::after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f111";
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 18px;
    font-size: 7px;
}
.tabSix ul li:last-child::after{
	display: none;
}


/*---super-deal-section---*/

.super-deal-section{
	background-image: url(../images/lookbook_new_collection.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	min-height: 500px;
}
.super-deal h1{
	color: #ffffff;
	font-weight: 600;
}
.super-deal h1 span{
	color: #ffffff;
}
.super-deal h2{
	color: #ffffff;
}
.super-deal a.btn {
    border: 1px solid #ffffff;
    padding: 10px 25px;
	color: #ffffff;
}
.super-deal a.btn:hover {
    border: 1px solid #d9932f;
    color: #d9932f;
	background-color: #fff;
}
.super-deal {
    margin-top: 85px;
	margin-bottom: 85px;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
	color: #fff;
}
@media only screen and (max-width: 991px) {
.super-deal-section{
	min-height: 350px;
}
.super-deal {
    margin-top: 0px;    
	margin-bottom: 15px;
}
.super-deal h1 {
    font-weight: 600;
    font-size: 24px;
}
}
@media only screen and (max-width: 767px) {
.super-deal-section{
	background-position: top center;
	min-height: 300px;
}
}
/*---featured-product---*/
.featured-product{
}


/*---testimonial---*/
.testimonialEight{
	text-align:center;
	background-image: url(../images/bg-2.jpg);
	background-attachment: fixed;
	    background-size: cover;
    background-repeat: no-repeat;
}	
.testimonialEight #dart-quote-carousel.carousel {
	padding-bottom: 30px;
}
.testimonialEight #dart-quote-carousel.carousel .carousel-inner .item {
	  opacity: 0;
	  -webkit-transition-property: opacity;
		  -ms-transition-property: opacity;
			  transition-property: opacity;
}
.testimonialEight #dart-quote-carousel.carousel .carousel-inner .active {
	  opacity: 1;
	  -webkit-transition-property: opacity;
		  -ms-transition-property: opacity;
			  transition-property: opacity;
}
.testimonialEight #dart-quote-carousel.carousel .carousel-indicators {
	bottom: -10px;
	z-index:2;
}
.testimonialEight #dart-quote-carousel.carousel .carousel-indicators  li {
	  background-color: #848484;
	  border: none;
}
.testimonialEight #dart-quote-carousel.carousel .carousel-indicators .active{
	  background-color: #cc9900;
	  border: none;
	  width:10px; 
	  height:10px;
	  margin:1px;
}
.testimonialEight #dart-quote-carousel blockquote {
	text-align: left;
	border: none;
	font-size: 14px;
    color: #ffffff;
	width: 90%;
	margin: 15px auto;
}
.testimonialEight #dart-quote-carousel blockquote p{
	letter-spacing: 1px;
	padding-top: 15px;
}
.testimonialEight #dart-quote-carousel blockquote .profile-circle img {
	margin: 0 auto;
	border-radius: 100px;    
	border: 8px solid rgba(255, 255, 255, 0.52);
}
.testimonialEight .item .name{ 
	color:#fff;
	font-size: 18px;
}
.testimonialEight .item .position{
	text-align:left; 
}
@media only screen and (max-width: 991px) {
.testimonialEight #dart-quote-carousel blockquote {
	text-align: center;
}
}
@media only screen and (max-width: 767px) {
.testimonialEight #dart-quote-carousel blockquote {
    width: 100%;
}
}


/*---Blog Post---*/

.blog-title a {
    color: #ffffff;
}
.blog-img .bubble-top:before {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top;
    transition-property: top;
    left: calc(50% - 20px);
    bottom:0;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #0a0c0b transparent;
}
.blog-img .bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    z-index: 999;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top;
    transition-property: top;
    left: calc(50% - 20px);
    top:0;
    border-width: 20px 20px 0 20px;
    border-color: #0a0c0b transparent transparent transparent;
}
.ImageWrapper .PStyleHe {
    position: absolute;
    background: url(../images/plus.png) no-repeat scroll center center / 100% 100% #222222;
    width: 100%;
    height: 100%;
    z-index: 199;
    -webkit-background-origin: padding-box, padding-box;
    -moz-background-origin: padding-box, padding-box;
    -ms-background-origin: padding-box, padding-box;
    -o-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 10px, 100% 100%;
    -moz-background-size: 10px 10px, 100% 100%;
    -ms-background-size: 10px 10px, 100% 100%;
    -o-background-size: 10px 10px, 100% 100%;
    background-size: 10px 10px, 100% 100%;
    opacity: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.ImageWrapper {
    display: block;
    overflow: hidden;
    position: relative;
}
.ImageWrapper:hover .PStyleHe {
    opacity: .6;
    -webkit-background-size: 60px 60px, 100% 100%;
    -moz-background-size: 60px 60px, 100% 100%;
    -ms-background-size: 60px 60px, 100% 100%;
    -o-background-size: 60px 60px, 100% 100%;
    background-size: 60px 60px, 100% 100%;
    visibility: visible;
}
.blog-content{
	padding: 15px;
	min-height: 265px;
}
@media only screen and (max-width: 1024px) {
	.blog-content {
		min-height: 220px;
	}
}
@media only screen and (max-width: 991px) {
	.blog-content {
		padding: 15px;
		min-height: 170px; 
	}
	.blog-title h4{
		margin-top: 0;
		margin-bottom: 5px;
	}
	.post-date{
		margin-bottom: 5px;
	}
	.post-content{
		margin-bottom: 10px;
	}	
}
@media only screen and (max-width: 767px){
	.blog-content {
		padding: 15px;
		min-height: 170px;
		background-color: #000000;
		margin-bottom: 10px;
	}
	.blog-img .bubble-top:before {
    	border-color: transparent transparent #000000 transparent;
	}
	.blog-img .bubble-bottom:before {
		border-color: #000000 transparent transparent transparent;
	}
}

/*---Blog Style 1---*/
.blogstyle-1 .blog-post-container {
	margin-bottom:15px;
}
.blogstyle-1 .blog-post-container .post-thumbnail {
	position: relative;
}
.blogstyle-1 .blog-post-container .post-thumbnail img {
	width: 100%;
}	
.blogstyle-1 .blog-post-container .blog-content {
	border: 1px solid #212121;
}
.blogstyle-1 .blog-post-container .dart-header {
	padding: 20px 20px 0;
}
.blogstyle-1 .blog-post-container .dart-title {
	text-transform: capitalize;    
	margin-top: 0;
}
.blogstyle-1 .blog-post-container .dart-title a {
	color: #ffffff;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta {
	font-size:0.7142857142857143em;
	text-transform: uppercase;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta {
	margin-bottom:0px;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li {
	display: inline-block;
	border-right: 1px solid #E7E7E7;
	line-height: 10px;
	padding-right: 15px;
	margin-right: 15px;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li:last-child {
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li a {
	color: #898989;
}
.blogstyle-1 .blog-post-container .dart-content {
	padding: 20px;
}
.blogstyle-1 .blog-post-container .dart-content p {
	margin: 0;
}
.blogstyle-1 .blog-post-container .dart-footer {
	background-color: #414141;
	padding: 8px 20px;
	border-top: 1px solid #212121;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta a {
	color: #cccccc;
	font-size:0.8571428571428571em;
	text-transform: capitalize;
}
#blogstyle-1Slider .carousel-control.left, #blogstyle-1Slider .carousel-control.right {
	background-image: none;
	background-color: #fff;
}
#blogstyle-1Slider .carousel-control {
	top: 50%;
	margin-top: -13px;
	bottom: auto;
	width: 26px;
	height: 26px;
	font-size: 18px;
	color: #898989;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}
.blogstyle-1 .blog-post-container .play-trigger {
	position: absolute;
	left: 50%;
	top: 55%;
	width: 70px;
	height: 45px;
	margin-left: -30px;
	margin-top: -30px;
	border: 0;
	border-radius: 10%;
	color: #fff;
	background: #cd201f;
	font-size:1.4285714285714286em;
	line-height: 45px;
	text-align: center;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0;
}
.blogstyle-1 .blog-post-container .play-trigger i {
	margin-left: 5px;
}
.blogstyle-1 .blog-post-container .play-trigger:hover {
	color: #cd201f;
	background: #fff;
}
.blogstyle-1 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
	color: #d9932f;
	text-decoration:none;
}
.blogstyle-1 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
	color: #d9932f;
	text-decoration:none
}
.blogstyle-1 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
	color: #d9932f;
	text-decoration:none;
}
@media (max-width : 991px) {
.blogstyle-1 .blog-post-container .dart-header {
	padding: 5px 10px 0;
}
.blogstyle-1 .blog-post-container .dart-content {
	padding: 10px;
}
.blogstyle-1 .blog-post-container .dart-footer {
	padding: 8px 10px;
}
}
.sidebar .input-group-btn .btn.btn-primary.btn-lg{
	background-color: #d9932f;
	border-color: #d9932f;
}
.sidebar .form-control{
	background-color: #414141;
	border-color: #212121;
}


/*---newsletter---*/

.newsletter-bg {
    background: -webkit-linear-gradient(left,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
    background: linear-gradient(to right,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
    background: -webkit-linear-gradient(left,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
    background: -o-linear-gradient(to right,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
    background: -moz-linear-gradient(to right,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
    padding-bottom: 60px;
    min-height: 250px;
}
.newsletter-bg form {
    text-align: right;
}
.newsletter {
    width: auto;
    display: inline-block;
    margin: 0 auto;
}
.form-inline .newsletter .form-control {
    border: 1px solid #0a0c0b;
    border-radius: 0;
    width: 370px;
    background-color: #0a0c0b;
    height: 50px;
}
.newsletter .btn-default {
    border: 1px solid #d9932f;
    border-radius: 0;
    background-color: #d9932f;
    color: #fff;
	-webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	    padding: 14px 25px;
}
.newsletter .btn-default:hover {
    border: 1px solid #d9932f;
    background-color: #fff;
    color: #d9932f;
	-webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.newsletter .btn-default i {
	margin-left: 15px;
}
@media only screen and (max-width: 991px) {
	.newsletter-bg{
		background-position: top ;
	}
	.newsletter .btn-default {
		margin-top: -1px;
	}
}
@media only screen and (max-width: 767px) {	
	.newsletter-bg form {
		text-align: center;
	}
}

/*---footer---*/
.footer {
    text-align: center;
    padding: 80px 0px 0px;
	background-color: #000000;
}
.footer .footer-block {
    text-align: left;
}
.footer .footer-block li a {
    color: #cccccc;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}
.footer .footer-block li a:before {
    content: "\f068";
    font-family: fontawesome;
    margin-right: 10px;
    font-size: 7px;
    vertical-align: middle;
    color: #ffffff;
}
.footer .footer-block li a:hover {
    margin-left: 5px;
    text-decoration: none;
}
.footer-title {
    color: #d9932f;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
hr.footer_border {
    color: #d9932f;
    width: 20%;
    text-align: left;
    border-color: #d9932f;
    border-width: 2px;
    margin: 0 0 20px 0;
}
.footer_icon {
    padding-top: 5px;
}
.contact_footer, .contact_footer a {
    color: #cccccc;
}
.footer_icon i{
    margin-right: 10px;
}
.footer_icon div {
    padding: 5px 0 0;
}
.footer_bottom_outer {
    margin-top: 50px; 
}
.footerbottom_link {
    border-top: 1px solid #d9932f;
    border-bottom: 1px solid #d9932f;
    padding: 20px 0px 15px 0px;
}
.footerbottom_link, .copyright {
    text-align: center;
    color: #cccccc;
}
footer .card ul.list-inline {
    margin: 0;
}
.copyright p {
    color: #cccccc;
    padding: 25px 0px;
    font-size: 1em;
    line-height: 15px;
    height: 50px;
}
.copyright i {
    color: #d9932f;
}
@media only screen and (max-width: 991px) {
	.footer {
		padding: 30px 0px 0px;
	}
}


/*---contact form---*/	

.contactus-one .contact-form .form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	background-color: transparent;
	color: #fff;
	height: 50px;
}
.contactus-one .contact-form .form-control {
	border-bottom: 1px solid #212121;
	box-shadow: none;
}
.contact-info > div > p {
	margin-bottom: 10px;
}
.contactus-one .contact-info p i {
	margin-right: 15px;
	color: #d9932f;
}
.map iframe {
	pointer-events: none;
	width: 100%;
	border: none;
}
.map {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.map iframe{
	pointer-events: none;
	width:100%;
	border:none;
}
.contactus-one .dart-headingstyle-one .dart-heading:after{
	left:15px;
}
.contact-block hr {
    border-top: 1px solid #414141;
}
.contact-block .phone-call a, .contact-block .mail-id a{
	color: #ffffff;
}














/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {
/*body*/
body {
    overflow-x: hidden;
}
}
	
@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {}

@media only screen and (max-width: 1280px) {}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1024px) {
	body{
		font-size:100%;
	}
}

@media only screen and (max-width: 991px) {
	body{
		font-size:100%;
	}
	.attr-nav{
		right: 0;
	}
	.attr-nav > ul > li {
		padding: 0px 0px;
	}
	.attr-nav > ul {
		margin: 5px -15px -7px 0;
	}
	.newsletter-bg {
		background-position: top right;
	}
	.attr-nav.left-side {
		display: none;
	}
	.nav-justified > li {
		display: block;
    	width: auto;
	}
	.nav-justified > li > a {
		text-align: left;
	}
	.form-inline .newsletter .form-control {
		width: 200px;
	}
}


/*--------------iPhone 6 plus landscape----------------*/
@media only screen and (max-width: 767px) {
	body{
		font-size:100%;
	}	
	nav.navbar.awesomenav .navbar-brand {
		width: auto;
		display: inline;
		top: -45px;
		padding: 12px;
	}
	nav .col-menu img{
		margin-top: 10px;
	}
	.attr-nav {
		position: relative;
		top: 50px;
		margin-right: 0;
	}
	.attr-nav > ul > li > a {
		padding: 16px 15px 15px;
	}
	nav.navbar.awesomenav .navbar-toggle {
		margin-top: 54px;
	}
	nav.navbar .navbar-header {
		padding-bottom: 0px;
	}
	nav.navbar.awesomenav .navbar-nav {
		margin: 0px 0px;
	}
	.navbar-brand img.logo {
		width: 50%;
		max-width: 200px;
		display: inline-block;
	}
	.newsletter-bg {
		background-position: top center;
	}
	.form-inline .newsletter .form-control {
		width: 280px;
	}
	.newsletter-bg {
		background: -webkit-linear-gradient(top,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
		background: linear-gradient(to bottom,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
		background: -webkit-linear-gradient(top,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
		background: -o-linear-gradient(to bottom,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
		background: -moz-linear-gradient(to bottom,#111514 50%,#540b23 0,#540b23 50%,#540b23 100%);
	}
	.newsletter-bg .dart-headingstyle-one, .newsletter-bg .newsletter {
		text-align: center;
		padding-top: 0;
		padding-bottom: 0;
	}
}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {}

/*--------------iPhone 6 plus portrait----------------*/
@media only screen and (max-width: 414px) {
	nav.navbar .navbar-header {
		padding-bottom: 15px;
	}
}

/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}



